body {
    padding: 0px;
    border: 0px;


}

body {
    min-width: 200px;
}



:root {
    --clr-one: #437c90;
    --clr-two: #f7f0f0;
    --clr-three: #80d39b;
    --clr-four: #303522;
    --clr-five: #f71735;
}

header {
    display: flex;
    justify-content: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #80d39b;
    padding: 10px;
}

.headerlogo {
    display: flex;
    justify-content: center;
    align-items: center;

}







.headerlogo img {
    width: 70px;
    height: auto;
    border-radius: 50px 50px 50px;
}

.mynav {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}

.socialmedia img {
    width: 40px;
    height: auto;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
}


ul li {
    display: none;
}

.navbarlinks li:first-child {
    display: block;



}


ul li a {
    margin-right: 30px;
    text-align: left;
}

ul li button:hover {
    background-color: #80d39b;
}

header {
    border: 1px solid yellow;
    border-radius: 20px 20px 20px;
}



footer img {
    width: 150px;
    height: auto;
    border-radius: 50px 0 50px;

}

.footercontent a {
    color: white;
}

footer {
    text-align: center;
}

footer {
    background-color: #1b2225;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px 20px 20px;
    border: 1px solid yellowgreen;


}

footer p,
h2 {
    color: var(--clr-two)
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.section1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.section1 img {
    width: 100%;
    height: 100%;
}

.section2 {
    grid-column: 1/2;
    grid-row: 3/4;
    line-height: 2rem;
    text-align: center;
    background-color: wheat;
    padding: 10px;
}




.section4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.section4 fieldset {


    border-radius: 20px 20px 20px;
    border: 1px solid #437c90;

}

.section4 legend {
    text-align: center;
}

.name,
.email,
.tel {
    display: block;
    line-height: 2rem;
    width: 100%;
}

.section4 label {
    line-height: 2rem;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

main {
    margin-top: 20px;
}

footer {
    margin-top: 40px;
}

figcaption {
    text-align: center;
}

.submit {
    margin-top: 10px;
    line-height: 2rem;
    border-radius: 20px 20px 20px;
    background-color: #437c90;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: hsl(0, 18%, 85%);
}

ul li a {
    color: black;
}

ul li a:hover {
    color: wheat;
    background-color: #437c90;
    border-radius: 20px 20px 20px;
}

body {
    font-family: 'EB Garamond', serif;
}

h5 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1rem;
}

h2,
h3 {
    font-family: 'IBM Plex Serif', serif;
}

.navbarlinks li:first-child {
    display: block;


}


.show li {
    display: block;
}

.navbarlinks a {
    text-decoration: none;
    display: block;
    padding: 6px;
    margin: 10px;

}
main{
    margin-right: 30px;
}

@media only screen and (min-width:768px) {


    ul li a {
        text-decoration: none;
        padding: 10px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .section1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .section1 img {
        width: 100%;
        height: 100%;
    }

    .section2 {
        grid-column: 1/2;
        grid-row: 2/3;
        line-height: 2rem;
        text-align: center;
        background-color: wheat;
        padding: 10px;
    }




    .section4 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .section4 fieldset {

        height: 100%;
        border-radius: 20px 20px 20px;
        border: 1px solid #437c90;

    }

    .section4 legend {
        text-align: center;
    }

    .name,
    .email,
    .tel {
        display: block;
        line-height: 2rem;
        width: 50%;
    }

    .section4 label {
        line-height: 2rem;
    }

    main {
        max-width: 1300px;
        margin: 0 auto;
    }

    main {
        margin-top: 20px;
    }



    figcaption {
        text-align: center;
    }

    .submit {
        margin-top: 10px;
        line-height: 2rem;
        border-radius: 20px 20px 20px;
        background-color: #437c90;
        border: none;
        padding: 10px;
        cursor: pointer;
        color: #f7f0f0;
    }
    main{
        margin-right: 0;
    }
}


@media only screen and (min-width:992px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .navbarlinks li:first-child {
        display: none;
    }

    ul li a {
        margin-right: 0;
    }

    ul li {
        display: inline-flex;


    }

    ul li a {
        text-decoration: none;
        padding: 10px;
    }


    .footercontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footerlogo {
        display: flex;
        align-items: center;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .section1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .section1 img {
        width: 100%;
        height: 100%;
    }

    .section2 {
        grid-column: 1/2;
        grid-row: 2/3;
        line-height: 2rem;
        text-align: center;
        background-color: wheat;
        padding: 10px;
    }




    .section4 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .section4 fieldset {

        height: 100%;
        border-radius: 20px 20px 20px;
        border: 1px solid #437c90;

    }

    .section4 legend {
        text-align: center;
    }

    .name,
    .email,
    .tel {
        display: block;
        line-height: 2rem;
        width: 50%;
    }

    .section4 label {
        line-height: 2rem;
    }

    main {
        max-width: 1300px;
        margin: 0 auto;
    }

    main {
        margin-top: 20px;
    }



    figcaption {
        text-align: center;
    }

    .submit {
        margin-top: 10px;
        line-height: 2rem;
        border-radius: 20px 20px 20px;
        background-color: #437c90;
        border: none;
        padding: 10px;
        cursor: pointer;
        color: #f7f0f0;
    }

    .navbarlinks a {
        margin-left: 0;
    }

    .show li {
        display: inline-flex;
    }
}