* {
    padding: 0px;
    border: 0px;


}

body {
    min-width: 200px;
}



:root {
    --clr-one: #437c90;
    --clr-two: #f7f0f0;
    --clr-three: #80d39b;
    --clr-four: #303522;
    --clr-five: #f71735;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #80d39b;
    padding: 10px;
    
}

.headerlogo {
    display: flex;
    justify-content: center;
    align-items: center;

}







.headerlogo img {
    width: 70px;
    height: auto;
    border-radius: 50px 50px 50px;
}

.mynav {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}

.socialmedia img {
    width: 40px;
    height: auto;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
}


ul li {   
    display: none;
}




ul li button:hover {
    background-color: #80d39b;
}

.navbarlinks li:first-child{
    display: block;
   
    
 
   
   
   
}



.show li{
    display: block;
}

.navbarlinks a{
    text-decoration: none;
    display: block;
    padding: 6px;
    margin: 10px;
   
   
   
  
   
}

main {
    margin-top: 20px;
}

header {
    border: 1px solid yellow;
    border-radius: 20px 20px 20px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;

}

.section1 {
    background-color: #437c90;
    grid-column: 1/4;
    grid-row: 1/2;
    
   



}

.section2 {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #437c90;
   
   

}

.section2 img {
    height: 100%;
    width: 100%;


}

.btn {
    position: absolute;
    margin-top: 30px;
    padding: 20px;


}

button {
    padding: 10px;
    border-radius: 20px 20px 20px;
    background-color: grey;
}

.btn a {
    text-decoration: none;
    padding: 20px;
    color: white;

}

.section3 {
    grid-column: 1/4;
    grid-row: 4/3;
    background-color: #437c90;
   
    
   
    

}

.section4 {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: #437c90;
   
   
}
.section4 img{
    width: 100%;
    height: 100%;
    border-radius: 100px 0 100px;
}

.section5 {
    grid-column: 1/4;
    grid-row: 6/7;
    background-color: #437c90;
    
   
 
}

.section6 {
    grid-column: 1/4;
    grid-row: 7/8;
    background-color: #437c90;
    
   

}

.section7 {
    grid-column: 1/4;
    grid-row: 8/9;
    background-color: #437c90;
    
   
}

.section8 {
    display: none;
}

.section9 {
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: #437c90;
  
}
.section9 img{
    width: 100%;
    height: 100%;
}

.a, .b, .c, .d {
       display: none;
}


.section9 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
    
}
.section9 p {
    display: none;
}


.box1 {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    border: 1px solid yellow;
    margin: 0;
   

}

.box2 {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    border: 1px solid yellow;
    margin: 0;
   
    
}
.section1 p{
      color: var(--clr-two);
      padding: 10px ;
      line-height: 1.5rem;
      
}
.section3 p{
      color: var(--clr-two);
      padding: 10px;
      line-height: 1.5rem;
      
}
.section5 p{
    color: var(--clr-two);
      padding: 10px;
   
}

.section8 p{
    color: var(--clr-two);
    padding: 10px;
    line-height: 1.5rem;
    

}

.section7 {
    text-align: center;
    color: yellow;
}

.section7 button {
    margin-top: 100px;
    padding: 30px;
    background-color: #afb9b9;
    
}

.section7 button a{
    text-decoration: none;
    font-size: larger;
    color: black ;
}











footer img {
    width: 150px;
    height: auto;
    border-radius: 50px 0 50px;

}
.footercontent a{
      color: white;
}

footer {
    text-align: center;
}

footer {
    background-color: #1b2225;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px 20px 20px;
    border: 1px solid yellowgreen;


}
footer p ,h2{
    color: var(--clr-two)
}

body{
    font-family: 'EB Garamond', serif;  
}
h5{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1rem;
}

h2,
h3{
    font-family: 'IBM Plex Serif', serif;
}

ul li a {
    color: black;
}
ul li a:hover {
    color: wheat;
    background-color: #437c90;
    border-radius: 20px 20px 20px;
}

.weather {
    text-align: center;

}
.icon-src img{
    width: 15%;
}

.icon-src{
    text-align: center;
    font-size: 1.5rem;
}
.description{
    text-align: center;
    font-size: 2rem;
    color: white;
}
.temperature{
    color: white;
}
main{
    margin-right: 30px;
}




 

